@using Web.BlazorServer.Components.Shared.Others
@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <Header />
    </RadzenHeader>
    <RadzenBody Style="padding: 0">
        @Body
    </RadzenBody>
    <RadzenFooter>
        <Footer />
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
